body {
    font-family: 'Thasadith', sans-serif;
}

.bg-custom {
    background-color: #333333;
}

.fas {
    color: #82b440;
    padding-left: 5px;
}

.logo {
    position: absolute;
    width: 250px;
    top: 0;
}

.topnav {
    font-size: 10pt;
}

.navbar {
    z-index: 999;
}

.nav-link {
    font-size: 1.3rem;
}

.carousel-caption {
    text-align: left;
    top: 20%;
}

.carousel-title {
    color: #333333;
    font-size: 25pt;
}

.carousel-desp {
    color: #333333;
    font-size: 15pt;
}

.bg-carousel {
    width: 100%;
    height: 550px;
    object-fit: cover;
    opacity: 0.1;
}

.corousel-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    left: 35px;
    top: -35px;
}

.corousel-buttom {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    bottom: -50px;
    left: -5px;
    top: 50px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn-fst {
    background-color: #82b440;
    color: #ffffff;
    padding: 12px;
}

.student-activities-title {
    color: #82b440;
    font-size: 4rem;
}

.student-activities-sub-title {
    font-size: 4rem;
    color: #eee;
    z-index: -1;
    position: absolute;
    line-height: 0;
    top: 57px;
    left: 104px;
    width: 100%;
    opacity: 0.8;
    text-transform: capitalize;
}

.student-activities-view-all {
    position: absolute;
    top: 20px;
    right: 15px;
}

.btn-view-all {
    border: 2px solid #333333;
}

.btn-view-all:hover {
    color: #ffffff;
    background-color: #333333;
}

.student-activities-text {
    color: #333333;
}

.student-activities-text:hover {
    color: #333333;
}

.student-activities-date {
    color: #7d7d7d;
}

.student-activities-bt-line {
    border: 1px solid #333;
    width: 225px;
}

.card-quote {
    height: 500px;
}

.card-quote-dark {
    background-color: #333333;
}

.card-quote-green {
    background-color: #82b440;
}

.card-quote-line {
    border: 1px solid #ffffff;
    width: 150px;
    border-radius: 10px;
}

.card-quote-sub {
    font-size: 0.8rem;
}

.card-quote-philosophy {
    font-size: 1.3rem;
}

.news-title {
    color: #82b440;
    font-size: 4rem;
}

.news-sub-title {
    font-size: 4rem;
    color: #eee;
    z-index: -1;
    position: absolute;
    line-height: 0;
    top: 57px;
    left: 104px;
    width: 100%;
    opacity: 0.8;
    text-transform: capitalize;
}

.footer {
    min-height: 250px;
    background-color: #333333;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer p,
li {
    color: #bbb;
    font-size: 0.8rem;
    padding-top: 5px;
}

.footer a {
    text-decoration: none;
    color: #bbb;
}

.footer a:hover {
    color: #82b440;
}

.coppyright {
    bottom: 0;
    color: #bbb;
    font-size: 0.8rem;
}


.coppyright hr {
    border: 0.1px solid #646464;
}

.home-thumnail-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .student-activities-title {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: -10px;
    }

    .news-title {
        margin-bottom: -10px;
        text-align: center;
        font-size: 2.5rem;
    }
    .carousel-caption {
        text-align: center;
    }
    .navbar-nav {
        padding-top: 40px;
        text-align: center;
    }
}
.page-link {
    color: #333;
}
.page-item.active .page-link {
    background-color: #333;
    border-color: #333;
}
.card-hover:hover
{
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    transition-duration: 0.5s;
}
